/* French letters */


ZMK_UNICODE_SINGLE( FR_A_GRV_MIN, 			N0, N0, FR_E, N0 )
ZMK_UNICODE_SINGLE( FR_A_GRV_MAJ, 			N0, N0, FR_C, N0 )

ZMK_UNICODE_SINGLE( FR_U_GRV_MIN, 			N0, N0, FR_F, N9 )
ZMK_UNICODE_SINGLE( FR_U_GRV_MAJ, 			N0, N0, FR_D, N9 )

ZMK_UNICODE_SINGLE( FR_E_GRV_MIN, 			N0, N0, FR_E, N8 )
ZMK_UNICODE_SINGLE( FR_E_GRV_MAJ, 			N0, N0, FR_C, N8 )

ZMK_UNICODE_SINGLE( FR_E_AIG_MIN, 			N0, N0, FR_E, N9 )
ZMK_UNICODE_SINGLE( FR_E_AIG_MAJ, 			N0, N0, FR_C, N9 )

ZMK_UNICODE_SINGLE( FR_E_CIR_MIN, 			N0, N0, FR_E, FR_A )
ZMK_UNICODE_SINGLE( FR_E_CIR_MAJ, 			N0, N0, FR_C, FR_A )

ZMK_UNICODE_SINGLE( FR_C_CED_MIN, 			N0, N0, FR_E, N7 )
ZMK_UNICODE_SINGLE( FR_C_CED_MAJ, 			N0, N0, FR_C, N7 )

ZMK_UNICODE_SINGLE( FR_LIG_AE_MIN, 			N0, N0, FR_E, N6 )
ZMK_UNICODE_SINGLE( FR_LIG_AE_MAJ, 			N0, N0, FR_C, N6 )

ZMK_UNICODE_SINGLE( FR_LIG_OE_MIN, 			N0, N1, N5, N2 )
ZMK_UNICODE_SINGLE( FR_LIG_OE_MAJ, 			N0, N1, N5, N3 )

ZMK_UNICODE_SINGLE( FR_GUIL_GAUCHE,			N0, N1, N7, N1 )
ZMK_UNICODE_SINGLE( FR_GUIL_DROIT, 			N0, N1, N8, N7 )

ZMK_UNICODE_SINGLE( EN_GUIL_GAUCHE,			N0, N0, FR_A, FR_B )
ZMK_UNICODE_SINGLE( EN_GUIL_DROIT, 			N0, N0, FR_B, FR_B )

ZMK_UNICODE_SINGLE( FR_ESP_INSEC, 			N0, N0, FR_A, N0 )
ZMK_UNICODE_SINGLE( FR_ESP_INSEC_FINE, 		N2, N0, N2, FR_F )

ZMK_UNICODE_SINGLE( FR_EURO, 				N2, N0, FR_A, FR_C )
ZMK_UNICODE_SINGLE( FR_POUND, 				N2, N0, FR_A, N4 )

ZMK_UNICODE_SINGLE( FR_TILDE,				N0, N0, N7, FR_E )
ZMK_UNICODE_SINGLE( FR_ENV_EGAL,			N2, N2, N4, N8 )

ZMK_UNICODE_SINGLE( FR_EGAL,				N0, N0, N3, FR_D )
ZMK_UNICODE_SINGLE( FR_NOT_EGAL,			N2, N2, N6, N0 )

ZMK_UNICODE_SINGLE( FR_PLUS2,				N0, N0, N2, FR_B )
ZMK_UNICODE_SINGLE( FR_PLUS_MOINS,			N0, N0, FR_B, N1 )

ZMK_UNICODE_SINGLE( FR_MOINS_GRAND,			N0, N0, N3, FR_C )
ZMK_UNICODE_SINGLE( FR_MOINS_GRAND_EGAL,	N2, FR_A, N7, FR_E )
ZMK_UNICODE_SINGLE( FR_PLUS_GRAND,			N0, N0, N3, FR_E )
ZMK_UNICODE_SINGLE( FR_PLUS_GRAND_EGAL,		N2, FR_A, N7, FR_D )

ZMK_UNICODE_SINGLE( FR_SLASH,				N0, N0, N2, FR_F )
ZMK_UNICODE_SINGLE( FR_DIVISION,			N0, N0, FR_F, N7 )
ZMK_UNICODE_SINGLE( FR_BACKSLASH,			N0, N0, N5, FR_C )

ZMK_UNICODE_SINGLE( FR_PIPE_1,				N0, N0, N7, FR_C )
ZMK_UNICODE_SINGLE( FR_PIPE_2,				N0, N0, FR_A, N6 )

ZMK_UNICODE_SINGLE( FR_MOINS,				N0, N0, N2, FR_D )
ZMK_UNICODE_SINGLE( FR_UNDERSCORE,			N0, N0, N5, FR_F )

ZMK_UNICODE_SINGLE( FR_PER_CENT,			N0, N0, N2, N5 )
ZMK_UNICODE_SINGLE( FR_PER_MILLE,			N2, N0, N3, N0 )

ZMK_UNICODE_SINGLE( FR_ASTERISQUE,			N0, N0, N2, FR_A )
ZMK_UNICODE_SINGLE( FR_FOIS,				N0, N0, FR_D, N7 )

ZMK_UNICODE_SINGLE( FR_PT_INTER,			N0, N0, N3, FR_F )
ZMK_UNICODE_SINGLE( FR_PT_INTER_INV,		N0, N0, FR_B, FR_F )
ZMK_UNICODE_SINGLE( FR_PT_EXCL,				N0, N0, N2, N1 )
ZMK_UNICODE_SINGLE( FR_PT_EXCL_INV,			N0, N0, FR_A, N1 )
ZMK_UNICODE_SINGLE( FR_PTS_SUSP,			N2, N0, N2, N6 )

ZMK_UNICODE_SINGLE( FR_QUOTE_1,				N0, N0, N2, N7 )
ZMK_UNICODE_SINGLE( FR_QUOTE_2,				N0, N0, N2, N2 )
ZMK_UNICODE_SINGLE( FR_APOS_TYPO,			N2, N0, N1, N9 )






//                Name     	  				Unshifted        		Shifted
ZMK_UNICODE_PAIR( FR_A_GRV,     			N0, N0, FR_E, N0,     	N0, N0, FR_C, N0 )
ZMK_UNICODE_PAIR( FR_U_GRV,     			N0, N0, FR_F, N9,     	N0, N0, FR_D, N9 )
ZMK_UNICODE_PAIR( FR_E_GRV,     			N0, N0, FR_E, N8,     	N0, N0, FR_C, N8 )
ZMK_UNICODE_PAIR( FR_E_AIG,     			N0, N0, FR_E, N9,     	N0, N0, FR_C, N9 )
ZMK_UNICODE_PAIR( FR_E_CIR,     			N0, N0, FR_E, FR_A,    	N0, N0, FR_C, FR_A )
ZMK_UNICODE_PAIR( FR_C_CED,     			N0, N0, FR_E, N7,     	N0, N0, FR_C, N7 )
ZMK_UNICODE_PAIR( FR_LIG_AE,    			N0, N0, FR_E, N6,     	N0, N0, FR_C, N6 )
ZMK_UNICODE_PAIR( FR_LIG_OE,    			N0, N1, N5, N3,     	N0, N1, N5, N2 )
ZMK_UNICODE_PAIR( FR_T_PIPE,    			N0, N0, N7, FR_C,     	N0, N0, FR_A, N6 )
ZMK_UNICODE_PAIR( FR_T_TILDE,    			N0, N0, N7, FR_E,     	N2, N2, N4, N8 )
ZMK_UNICODE_PAIR( FR_T_EGAL,    			N0, N0, N3, FR_D,     	N2, N2, N6, N0 )
ZMK_UNICODE_PAIR( FR_T_PLUS,    			N0, N0, N2, FR_B,     	N0, N0, FR_B, N1 )
ZMK_UNICODE_PAIR( FR_T_FOIS,    			N0, N0, N2, FR_A,     	N0, N0, FR_D, N7 )
ZMK_UNICODE_PAIR( FR_T_MOINS_GRAND,    		N0, N0, N3, FR_C,     	N2, FR_A, N7, FR_E )
ZMK_UNICODE_PAIR( FR_T_PLUS_GRAND,    		N0, N0, N3, FR_E,     	N2, FR_A, N7, FR_D )
ZMK_UNICODE_PAIR( FR_T_PT_INTER,    		N0, N0, N3, FR_F,     	N0, N0, FR_B, FR_F )
ZMK_UNICODE_PAIR( FR_T_PT_EXCL,    			N0, N0, N2, N1,     	N0, N0, FR_A, N1 )
ZMK_UNICODE_PAIR( FR_T_SLASH,    			N0, N0, N2, FR_F,     	N0, N0, FR_F, N7 )
ZMK_UNICODE_PAIR( FR_T_QUOTE,    			N0, N0, N2, N7,     	N0, N0, N2, N2 )

