
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */




#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#include "keymap_azerty_win.h"

#define DEFAULT 0
#define MOD   	1
#define NAV   	2
#define SYMB   	3

/ {

  behaviors {
    #include "unicode.dtsi"
    #include "macros.dtsi"

    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick_tap_ms = <175>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

	td_s: tap_dance_shift {
		compatible = "zmk,behavior-tap-dance";
		label = "TAP_DANCE_SHIFT";
		#binding-cells = <0>;
		tapping-term-ms = <200>;
		bindings = <&sk LEFT_SHIFT>, <&caps_word>;
	};

  };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
        		&kp ESC		   	    &kp FR_1   	        &kp FR_2            &kp FR_3            &kp FR_4      		&kp FR_5            &none            																								    															    &mo MOD   	        &kp FR_6            &kp FR_7            &kp FR_8            &kp FR_9             &kp FR_0    	     &kp DELETE
         		&kp FR_DLLR    	    &kp FR_LAGR         &kp FR_Y            &kp FR_O            &kp FR_Q       		&kp FR_B            &none             																																							        &none               &kp FR_F            &kp FR_D            &kp FR_L      	    &kp FR_P  	  	     &kp FR_QUOT	     &kp FR_PRCNT
           		&kp CAPS            &kp FR_A            &kp FR_I            &kp FR_E            &kp FR_U       		&kp FR_COMM         &none          				  		   &kp ENTER       	   &kp LCTRL             				 					   &kp LGUI            &key_repeat       					    &none               &kp FR_M   	        &kp FR_S   	        &kp FR_N            &kp FR_T             &kp FR_R            &kp FR_CIRC
				&mt LEFT_CONTROL FR_C   &kp FR_LEGR     &kp FR_Z            &kp FR_DQUO		    &kp FR_LEAC     	&kp FR_DOT            				   &none          	   &none               &kp TAB             &none          	    &none 	           &tog NAV	       	   &none    	       &none   					   			    &kp FR_V  		    &kp FR_C  	        &kp FR_H            &kp FR_G     	     &kp FR_X            &kp FR_EQUAL
				&mt LEFT_CONTROL FR_V  	&kp LEFT  	    &kp RIGHT           &kp UP              &kp FR_K       											   &kp SPACE           &kp BACKSPACE       &kp LEFT_ALT  						 					   &caps_word	   	   &mo SYMB            &td_s			        						  		    &kp FR_W          	&kp FR_J            &kp UP  	  	     &kp DOWN            &macro_e_accent_aigu
            >;
        };

        layer_mod {
            bindings = <
 				&none  		    	&bt BT_SEL 0  		&bt BT_SEL 1  		&bt BT_SEL 2 		&bt BT_SEL 3   	    &bt BT_SEL 4   		&none       																																										&trans		         &bt BT_SEL 0    	&bt BT_SEL 1    	&bt BT_SEL 2 		&bt BT_SEL 3    	 &bt BT_SEL 4   	 &none
				&none           	&none         		&none         		&none        		&none         	    &none          		&bootloader  																																										&bootloader          &none           	&none           	&none        		&none	             &none          	 &none
 				&none           	&none         		&none         		&none         		&none         	    &none          		&rgb_ug RGB_MEFS_CMD 5   				&bt BT_CLR          &none                 										&bt BT_CLR         &bt BT_CLR  							&rgb_ug RGB_MEFS_CMD 5   &none	        	&none           	&none               &none   			 &none   			 &none
				&none           	&none         		&none         		&none         		&none          	    &none                             	    &none        		&none         		&none         	   &none                &none         		&none			   &none                &none   		    					 &none   			&none  		    	&none   	        &none  		   		 &none  		     &none
				&none          		&none         		&none    			&bl BL_INC    		&bl BL_DEC  								   			    &rgb_ug RGB_TOG 	&bl BL_TOG      	&none              											&none    		   &bl BL_TOG  			&rgb_ug RGB_TOG    											&bl BL_INC    	    &bl BL_DEC          &none   			 &none   			 &none
            >;
        };

        layer_nav {
            bindings = <
				&trans          	&kp F1          	&kp F2          	&kp F3          	&kp F4          	&kp F5          	&trans  																																											 &trans          	 &kp F6          	 &kp F7           	 &kp F8          	&kp F9          	 &kp F10        	 &kp F11
				&trans				&trans				&trans				&trans				&trans				&trans				&trans   																																											 &trans  			 &trans          	 &trans           	 &trans          	&trans          	 &trans         	 &kp F12
				&trans				&kp HOME			&kp LEFT			&kp RIGHT			&kp END				&trans				&trans          						&trans              &trans          							                &trans              &trans   				                 &trans              &trans  			 &kp PAGE_UP  	 	 &kp UP  		 	&kp DOWN    	 	 &kp PAGE_DOWN  	 &trans
				&trans              &trans				&trans				&trans				&trans              &trans            		                &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  		 						 &trans              &trans              &trans     	 	&trans          	 &trans  			 &trans
				&trans              &trans              &trans              &trans              &trans  						                			&trans              &trans              &trans          								            &trans              &trans          	&trans          											 &trans			 	 &trans             &trans               &trans              &trans
            >;
        };

        layer_symb {
            bindings = <
				&trans              &trans          	&trans              &trans          	&trans              &trans              &trans  																 	   			 																							 &trans              &trans              &trans              &trans              &trans              &trans              &trans
				&kp FR_EURO         &kp FR_GRV      	&kp FR_LUGR     	&trans          	&kp FR_Q         	&trans              &trans  																 	   			 																							 &trans  			 &kp TILDE  		 &kp DOLLAR  	 	 &kp EQUAL  	 	 &kp FR_PLUS		 &kp QMARK     		 &trans
				&trans              &kp FR_LBKT  		&kp FR_RBKT  		&kp FR_LBRC     	&kp FR_RBRC  	 	&kp FR_SCLN    		&trans              			 		 &trans     	 	 &trans      	  								 			 &trans              &trans                                  &trans              &kp FR_AMPR	  	 &kp FR_LPRN  	 	 &kp FR_RPRN  	 	 &kp FR_LABK  		 &kp FR_RABK 		 &kp FR_EXLM
				&trans              &kp FR_BSLS	    	&kp FR_AT  	  		&kp FR_ASTR     	&kp FR_SLSH      	&kp COLON         	                     &trans              &trans          	 &trans              &trans              &trans              &trans          	 &trans              &trans     				             &kp FR_PIPE  	 	 &kp FR_LCCE     	 &kp FR_HASH     	 &trans   			 &trans          	 &kp FR_TILD
				&trans              &trans              &trans              &trans              &trans                            							 &kp FR_UNDS	  	 &trans              &trans     					  				 			 &trans              &trans              &trans    									 	 			 &trans     	 	 &trans  		 	 &trans     		 &trans          	 &trans
            >;
        };

    };



};
