ZMK_BEHAVIOR(aller_debut_doc, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LCTRL>
		, <&macro_tap 		&kp HOME>
		, <&macro_release 	&kp LCTRL>
	;
)

ZMK_BEHAVIOR(aller_fin_doc, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press		&kp LCTRL>
		, <&macro_tap 		&kp END>
		, <&macro_release 	&kp LCTRL>
	;
)



ZMK_BEHAVIOR(copie_debut_doc, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LSHIFT>
		, <&macro_press 	&kp LCTRL>
		, <&macro_tap 	  	&kp HOME>
		, <&macro_release 	&kp LCTRL>
		, <&macro_release 	&kp LSHIFT>
	;
)

ZMK_BEHAVIOR(copie_fin_doc, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LSHIFT>
		, <&macro_press 	&kp LCTRL>
		, <&macro_tap 	  	&kp END>
		, <&macro_release 	&kp LCTRL>
		, <&macro_release 	&kp LSHIFT>
	;
)


ZMK_BEHAVIOR(deplacer_haut, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LALT>
		, <&macro_tap 	  	&kp UP>
		, <&macro_release 	&kp LALT>
	;
)

ZMK_BEHAVIOR(deplacer_bas, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LALT>
		, <&macro_tap 	  	&kp DOWN>
		, <&macro_release 	&kp LALT>
	;
)




ZMK_BEHAVIOR(dupliquer_haut, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LALT>
		, <&macro_press 	&kp LSHFT>
		, <&macro_tap 	  	&kp UP>
		, <&macro_release 	&kp LSHFT>
		, <&macro_release 	&kp LALT>
	;
)

ZMK_BEHAVIOR(dupliquer_bas, macro,
    wait-ms = <100>;
    tap-ms = <5>;
	bindings
		= <&macro_press 	&kp LALT>
		, <&macro_press 	&kp LSHFT>
		, <&macro_tap 	  	&kp DOWN>
		, <&macro_release 	&kp LSHFT>
		, <&macro_release 	&kp LALT>
	;
)