
// D
txt_ould: txt_ould {
	compatible = "zmk,behavior-macro";
	label = "txt_ould";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_O &kp OPT7_U &kp OPT7_L &kp OPT7_D>;
};

// G
txt_ting: txt_ting {
	compatible = "zmk,behavior-macro";
	label = "txt_ting";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_T &kp OPT7_I &kp OPT7_N &kp OPT7_G>;
};

// I
txt_ight: txt_ight {
	compatible = "zmk,behavior-macro";
	label = "txt_ight";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_I &kp OPT7_G &kp OPT7_H &kp OPT7_T>;
};

// L
txt_elle: txt_elle {
	compatible = "zmk,behavior-macro";
	label = "txt_elle";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_E &kp OPT7_L &kp OPT7_L &kp OPT7_E>;
};

// N
txt_ation: txt_ation {
	compatible = "zmk,behavior-macro";
	label = "txt_ation";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_A &kp OPT7_T &kp OPT7_I &kp OPT7_O &kp OPT7_N>;
};

// Q
testq: testq {
	compatible = "zmk,behavior-macro";
	label = "testq";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_Q &kp OPT7_U &kp OPT7_E &kp OPT7_L &kp OPT7_Q &kp OPT7_U>;
};