mod_morph_t: mod_morph_t {
	compatible = "zmk,behavior-mod-morph";
	label = "mod_morph_t";
	#binding-cells = <0>;
	bindings = <&kp DOWN>, <&txt_ement>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

txt_ement: txt_ement {
	compatible = "zmk,behavior-macro";
	label = "txt_ement";
	tap-ms = <10>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp E &kp M &kp E &kp N &kp T>;
};