// ===========================
// ======= Main gauche =======
// ===========================



// ======= Main gauche, haut =======


nav_a_grv: nav_a_grv {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_a_grv";
	#binding-cells = <0>;
	bindings = <&select_mot_g>, <&txt_a_grv>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_y: nav_y {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_y";
	#binding-cells = <0>;
	bindings = <&mot_g>, <&txt_y>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_o: nav_o {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_o";
	#binding-cells = <0>;
	bindings = <&mot_d>, <&txt_o>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_w: nav_w {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_w";
	#binding-cells = <0>;
	bindings = <&select_mot_d>, <&txt_w>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_b: nav_b {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_b";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_b>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main gauche, milieu =======


nav_a: nav_a {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_a";
	#binding-cells = <0>;
	bindings = <&kp HOME>, <&txt_a>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_i: nav_i {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_i";
	#binding-cells = <0>;
	bindings = <&kp LEFT>, <&txt_i>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_e: nav_e {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_e";
	#binding-cells = <0>;
	bindings = <&kp RIGHT>, <&txt_e>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_u: nav_u {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_u";
	#binding-cells = <0>;
	bindings = <&kp END>, <&txt_u>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_comma: nav_comma {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_comma";
	#binding-cells = <0>;
	bindings = <&kp ESCAPE>, <&txt_comma>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main gauche, bas =======


nav_e_grv: nav_e_grv {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_e_grv";
	#binding-cells = <0>;
	bindings = <&ecran_g>, <&txt_e_grv>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_z: nav_z {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_z";
	#binding-cells = <0>;
	bindings = <&fenetre_g>, <&txt_z>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_dquote: nav_dquote {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_z";
	#binding-cells = <0>;
	bindings = <&fenetre_d>, <&txt_dquote>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_e_aig: nav_e_aig {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_e_aig";
	#binding-cells = <0>;
	bindings = <&ecran_d>, <&txt_e_aig>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_dot: nav_dot {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_dot";
	#binding-cells = <0>;
	bindings = <&fullscreen>, <&txt_dot>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main gauche, dernière ligne =======


nav_k: nav_k {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_k";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_k>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_e_circ: nav_e_circ {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_e_circ";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_e_circ>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};







// ===========================
// ======= Main droite =======
// ===========================



// ======= Main droite, haut =======


nav_f: nav_f {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_f";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_f>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_d: nav_d {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_d";
	#binding-cells = <0>;
	bindings = <&copie_debut_doc>, <&txt_d>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_l: nav_l {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_l";
	#binding-cells = <0>;
	bindings = <&aller_debut_doc>, <&txt_l>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_p: nav_p {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_p";
	#binding-cells = <0>;
	bindings = <&aller_fin_doc>, <&txt_p>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_quote: nav_quote {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_quote";
	#binding-cells = <0>;
	bindings = <&copie_fin_doc>, <&txt_quote>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_circ: nav_circ {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_circ";
	#binding-cells = <0>;
	bindings = <&kp F12>, <&txt_circ>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main droite, milieu =======


nav_m: nav_m {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_m";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_m>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_s: nav_s {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_s";
	#binding-cells = <0>;
	bindings = <&kp PAGE_UP>, <&txt_s>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_n: nav_n {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_n";
	#binding-cells = <0>;
	bindings = <&kp UP>, <&txt_n>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_t: nav_t {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_t";
	#binding-cells = <0>;
	bindings = <&kp DOWN>, <&txt_t>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_r: nav_r {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_r";
	#binding-cells = <0>;
	bindings = <&kp PAGE_DOWN>, <&txt_r>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main droite, bas =======


nav_v: nav_v {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_v";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_v>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_c: nav_c {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_c";
	#binding-cells = <0>;
	bindings = <&dupliquer_haut>, <&txt_c>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_h: nav_h {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_h";
	#binding-cells = <0>;
	bindings = <&deplacer_haut>, <&txt_h>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_g: nav_g {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_g";
	#binding-cells = <0>;
	bindings = <&deplacer_bas>, <&txt_g>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_x: nav_x {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_x";
	#binding-cells = <0>;
	bindings = <&dupliquer_bas>, <&txt_x>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};



// ======= Main droite, dernière ligne =======


nav_q: nav_q {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_q";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_q>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};

nav_j: nav_j {
	compatible = "zmk,behavior-mod-morph";
	label = "nav_j";
	#binding-cells = <0>;
	bindings = <&trans>, <&txt_j>;
	mods = <(MOD_LSFT|MOD_RSFT)>;
};