// À
ZMK_MACRO(txt_a_grv,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_A_GRV>;
)

// A
ZMK_MACRO(txt_a,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_A>;
)

// B
ZMK_MACRO(txt_b,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_B>;
)

// C
ZMK_MACRO(txt_c,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_C>;
)

// D
ZMK_MACRO(txt_d,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_D>;
)

// E
ZMK_MACRO(txt_e,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_E>;
)

// É
ZMK_MACRO(txt_e_aig,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_E_AIG>;
)

// È
ZMK_MACRO(txt_e_grv,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_E_GRV>;
)

// Ê
ZMK_MACRO(txt_e_circ,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_E_CIRC>;
)

// F
ZMK_MACRO(txt_f,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_F>;
)

// G
ZMK_MACRO(txt_g,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_G>;
)

// H
ZMK_MACRO(txt_h,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_H>;
)

// I
ZMK_MACRO(txt_i,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_I>;
)

// J
ZMK_MACRO(txt_j,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_J>;
)

// K
ZMK_MACRO(txt_k,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_K>;
)

// L
ZMK_MACRO(txt_l,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_L>;
)

// M
ZMK_MACRO(txt_m,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_M>;
)

// N
ZMK_MACRO(txt_n,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_N>;
)

// O
ZMK_MACRO(txt_o,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_O>;
)

// P
ZMK_MACRO(txt_p,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_P>;
)

// Q
ZMK_MACRO(txt_q,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_Q>;
)

// R
ZMK_MACRO(txt_r,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_R>;
)

// S
ZMK_MACRO(txt_s,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_S>;
)

// T
ZMK_MACRO(txt_t,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_T>;
)

// U
ZMK_MACRO(txt_u,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_U>;
)

// V
ZMK_MACRO(txt_v,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_V>;
)

// W
ZMK_MACRO(txt_w,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_W>;
)

// X
ZMK_MACRO(txt_x,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_X>;
)

// Y
ZMK_MACRO(txt_y,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_Y>;
)

// Z
ZMK_MACRO(txt_z,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_Z>;
)

// ’
ZMK_MACRO(txt_quote,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_QUOTE>;
)

// "
ZMK_MACRO(txt_dquote,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_DQUOTE>;
)

// ^
ZMK_MACRO(txt_circ,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_CIRC>;
)

// .
ZMK_MACRO(txt_dot,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_DOT>;
)

// ,
ZMK_MACRO(txt_comma,
	wait-ms = <30>;
	tap-ms = <40>;
	bindings = <&macro_tap &kp OPT7_COMMA &kp OPT7_COMMA>;
)