

txt_ould: txt_ould {
	compatible = "zmk,behavior-macro";
	label = "txt_ould";
	wait-ms = <30>;
	tap-ms = <40>;
	#binding-cells = <0>;
	bindings = <&macro_tap &kp OPT7_O &kp OPT7_U &kp OPT7_L &kp OPT7_D>;
};
